 @font-face {
   font-family: 'VFont';
   src: url('./fonts/icomoon.woff') format('woff');
   font-weight: 600;
   font-style: normal;
 }

 .hello {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   color: red;
   font-family: 'VFont';
   transform: translateY(0);
 }